/*1 arquivo CSS*/

/*seletor{
	propriedade: valor;
}*/
/*tags*/
p{
	color: #FF7F50;
	font-size: 30px;
	font-family: Arial;
}

body {
	background-color: #000000; 
}
*{
	margin: 0;
	padding: 0;
	font-family: Arial;
}
header{
	background-color: white;
	height: 80px;
	padding: 20px;
}
footer{
	clear: both;
	background-color: white;
	height: 50px;
	text-align: center;
	padding: 10px;
}

h1{
	color: #FFFF
}

 /*IDs*/
#div_principal{
	background-color: red;
	min-height: 200px;
	width: 60%;
	float: left;
}

/*CLASS*/
.container{
	width: 960px;
	margin: 0 auto;
}